<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../static/css/modificacion.css">
  </head>
  <body>
    <!-- App root element -->
        <div id="app">
          <!-- Statusbar overlay -->
          <div class="statusbar"></div>

          <!-- Your main view, should have "view-main" class -->
          <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            <div data-name="home" class="page">
              <div id="registroContenedor" class="page-content">



                <div id="navbar" class="navbar">
                  <div id="navbarInner" class="navbar-inner">
                      <div id="registroBox" class="left">
                          <a href="{{url_for('rutina')}}" class="button external">
                            <i class="icon icon-back"></i>
                          </a>
                      </div>
                      <div id="logoImagenBox" class="title">
                        <a style="height: 100%" href="{{url_for('index')}}" class="link external">
                          <img id="logoImagen" src="../static/imagenes/GymHomeLogo2.png"/>
                        </a>
                      </div>
                      <div  id="loginBox" class="right">
                          <a href="#" class="button external"></a>
                      </div>
                  </div>
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                <div class="block-title">
                  <img id="rutinaTitulo" src="../static/imagenes/rutinaTitulo.png"/>
                </div>
                <div style="height: " class="block">
                  <form class="list" id="my-form" method="post">
                    {{ form.hidden_tag() }}
                    <ul>
                      <li>
                        <div class="item-content item-input">
                          <div class="item-inner">
                            <div class="formulario-letra" class="item-title item-label">Tipo de ejercicio</div>
                            <div class="item-input-wrap">
                              <div id="formulario-genero-seleccion">
                                <select name="tipoEjercicio">
                                  <optgroup label="Pecho">
                                    <option  value="Pecho1" selected>Barbell Bench Press-Medium Grip</option>
                                    <option  value="Pecho2">Barbell Incline Bench Press Medium-Grip</option>
                                    <option  value="Pecho3">Decline Barbell Bench Press</option>
                                  </optgroup>
                                  <optgroup label="Hombro">
                                    <option  value="Hombro1">Side Lateral Raise</option>
                                    <option  value="Hombro2">Standing Military Press</option>
                                    <option  value="Hombro3">Barbell Shoulder Press</option>
                                    <option  value="Hombro4">Dumbbell Shoulder Press</option>
                                  </optgroup>
                                  <optgroup label="Biceps">
                                    <option  value="Biceps1">Dumbbell Bicep Curl</option>
                                    <option  value="Biceps2">Seated Dumbbell Curl</option>
                                    <option  value="Biceps3">Standing Biceps Cable Curl</option>
                                    <option  value="Biceps4">EZ-Bar Skullcrusher</option>
                                  </optgroup>
                                  <optgroup label="Cuadriceps">
                                    <option  value="Cuadriceps1">Leg Press</option>
                                    <option  value="Cuadriceps2">Leg Extensions</option>
                                    <option  value="Cuadriceps3">Barbell Squat</option>
                                    <option  value="Cuadriceps4">Single-Leg Press</option>
                                  </optgroup>
                                  <optgroup label="Femoral">
                                    <option  value="Femoral1">Lying Leg Curls</option>
                                    <option  value="Femoral2">Romanian Dead Lift</option>
                                    <option  value="Femoral3">Deadlift</option>
                                  </optgroup>
                                  <optgroup label="Pantorrilla">
                                    <option  value="Pantorrilla1">Standing Calf Raises</option>
                                    <option  value="Pantorrilla2">Seated Calf Raise</option>
                                  </optgroup>
                                </select>
                              </div>                                
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content item-input">
                          <div class="item-inner">
                            <div class="formulario-letra" class="item-title item-label">Semana</div>
                            <div class="item-input-wrap">
                              <input style="background-color: white" type="text" name="semana" placeholder="¿Qué semana de entrenamiento?">
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content item-input">
                          <div class="item-inner">
                            <div class="formulario-letra" class="item-title item-label">Series</div>
                            <div class="item-input-wrap">
                              <input style="background-color: white" type="text" name="series" placeholder="¿Cuantas series vas a hacer?">
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content item-input">
                          <div class="item-inner">
                            <div class="formulario-letra" class="item-title item-label">Repeticiones</div>
                            <div class="item-input-wrap">
                              <input style="background-color: white" type="text" name="repeticiones" placeholder="¿Cuantas repeticiones?">
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content item-input">
                          <div class="item-inner">
                            <div class="formulario-letra" class="item-title item-label">Peso</div>
                            <div class="item-input-wrap">
                              <input style="background-color: white" type="text" name="peso" placeholder="¿Cuanto peso?">
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="item-content item-input">
                          <div class="item-inner">
                            <div class="formulario-letra" class="item-title item-label">Descanso</div>
                            <div class="item-input-wrap">
                              <input style="background-color: white" type="text" name="descanso" placeholder="¿Cuanto vas a descansar?">
                            </div>
                          </div>
                        </div>
                      </li>                                                    
                    </ul>
                    <div class="block">                      
                    <input style="height:40px; width: 70%; margin-left: 15%; border: 2px solid white; border-radius: 15px; background-color: white; position: relative; bottom: 10px; " class="item-link list-button" type="submit" name="botEnviar" value="¡AGREGAR RUTINA!"/>
                     </div>
                  </form>
                </div>
                
                
                <div style="margin-top: 25%;" class="block">
                  <!-- block content -->
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                

               <div id="navbarBottom" class="toolbar toolbar-bottom-md">
                  <div class="toolbar-inner">
                      <a href="{{url_for('ejercicios')}}" class="link external">
                        <img id="dumbbellIcono" src="../static/imagenes/dumbbellIcono.png"/>
                      </a>
                      <a href="{{url_for('alimentacion')}}" class="link external">
                        <img id="mealIcono" src="../static/imagenes/mealIcono.png"/>
                      </a>
                      <a href="{{url_for('index')}}" class="link external">
                        <img id="logoImagenBottom" src="../static/imagenes/GymHomeLogo2.png"/>
                      </a>
                      <a href="{{url_for('suplementacion')}}" class="link external">
                        <img id="suplementoIcono" src="../static/imagenes/suplementoIcono.png"/>
                      </a>
                      <a href="{{url_for('rutina')}}" class="link external">
                        <img id="agendaIcono" src="../static/imagenes/agendaIcono.png"/>
                      </a>
                  </div>
              </div>   
              </div>
            </div>
          </div>
        </div>   


    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../static/js/my-app.js"></script>
  </body>
</html>