<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../static/css/modificacion.css">
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7-icons.css">
  </head>
  <body>
    <!-- App root element -->
        <div id="app">
          <!-- Statusbar overlay -->
          <div class="statusbar"></div>

          <!-- Your main view, should have "view-main" class -->
          <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            <div data-name="home" class="page">
              <div id="registroContenedor" class="page-content">

                <div id="navbar" class="navbar">
                  <div id="navbarInner" class="navbar-inner">
                      <div id="registroBox" class="left">
                          <a href="{{url_for('index')}}" class="button external">
                            <i class="icon icon-back"></i>
                          </a>
                      </div>                      
                  </div>
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                <div style="width: 100%; position: relative; right: 2.5%; margin-top: 0px; margin-bottom: 30px;" class="card demo-card-header-pic">
                  <div id="comidaDelDia" class="card-header align-items-flex-end">Fideuá rápida</div>
                  <div class="card-content card-content-padding">
                    <p class="date">Plato del día</p>
                    <p>La paella es la protagonista cuando hablamos de cocina valenciana, pero a veces nos olvidamos de otro gran plato de la zona: la fideuá. Elaborada con pescado y marisco, y con unos fideos finísimos, es una forma deliciosa de disfrutar de lo mejor del mar y de comer pasta.</p>
                  </div>
                  <div class="card-footer">
                    <a href="https://www.gallinablanca.es/receta/fideua-rapida/" class="link external">Leer mas</a>
                  </div>
                </div>
                  


                <div style="width: 80%; margin-left: 10%;" class="alimentacionTitulos">CARNES</div>
                <div style="width: 80%;margin-bottom: 10px; position: relative; left: 10%" data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
                  <div style="background-color: white;  position: absolute; bottom: 0px;" class="swiper-pagination"></div>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="{{url_for('solomillo')}}" class="link external">
                        <img class="carnesSwiper" src="../static/imagenes/alimentacion/solomilloPresentacion.jpg"/>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/conejoPresentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/terneraPresentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/albondigasPresentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/solomillodecerdoPresentacion.jpg"/></a>
                    </div>
                  </div>
                </div>


                <div style="width: 80%; margin-left: 10%;" class="alimentacionTitulos">VERDURAS</div>
                <div style="width: 80%;margin-bottom: 10px; position: relative; left: 10%" data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
                  <div style="background-color: white;  position: absolute; bottom: 0px;" class="swiper-pagination"></div>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="" class="link external">
                        <img class="carnesSwiper" src="../static/imagenes/alimentacion/alcachofa-presentacion.jpg"/>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/cebolla-presentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/coliflor-presentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/esparragos-presentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/espinacas-presentacion.jpg"/></a>
                    </div>
                  </div>
                </div>


                <div style="width: 80%; margin-left: 10%;" class="alimentacionTitulos">PASTAS</div>
                <div style="width: 80%;margin-bottom: 10px; position: relative; left: 10%" data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
                  <div style="background-color: white;  position: absolute; bottom: 0px;" class="swiper-pagination"></div>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="" class="link external">
                        <img class="carnesSwiper" src="../static/imagenes/alimentacion/lasana-presentacion.jpg"/>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/espaguetis-presentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/fideua-presentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/macarrones-presentacion.jpg"/></a>
                    </div>
                  </div>
                </div>

                <div style="width: 80%; margin-left: 10%;" class="alimentacionTitulos">SOPAS</div>
                <div style="width: 80%;margin-bottom: 10px; position: relative; left: 10%" data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init demo-swiper">
                  <div style="background-color: white;  position: absolute; bottom: 0px;" class="swiper-pagination"></div>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="" class="link external">
                        <img class="carnesSwiper" src="../static/imagenes/alimentacion/sopaPescado-presentacion.jpg"/>
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/sopaAjo-presentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/sopaCebolla2-presentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/sopaMarisco-presentacion.jpg"/></a>
                    </div>
                    <div class="swiper-slide">
                      <a href="" class="link external"><img class="carnesSwiper" src="../static/imagenes/alimentacion/sopaPollo-presentacion.jpg"/></a>
                    </div>
                  </div>
                </div>               



                <div style="margin-top: 15%;" class="block">
                  <!-- block content -->
                </div>               

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                

                <div id="navbarBottom" class="toolbar toolbar-bottom-md">
                    <div class="toolbar-inner">
                        <a href="{{url_for('ejercicios')}}" class="link external">
                          <i class="f7-icons">eye</i>
                        </a>
                        <a href="{{url_for('alimentacion')}}" class="link external">
                          <i class="f7-icons">pie</i>
                        </a>
                        <a href="{{url_for('index')}}" class="link external">
                          <i class="f7-icons">home_fill</i>
                        </a>
                        <a href="{{url_for('suplementacion')}}" class="link external">
                          <i class="f7-icons">box</i>
                        </a>
                        <a href="{{url_for('rutina')}}" class="link external">
                          <i class="f7-icons">calendar</i>
                        </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>   


    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../static/js/my-app.js"></script>

  </body>
</html>