<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../static/css/modificacion.css">
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7-icons.css">
  </head>
  <body>
    <!-- App root element -->
        <div id="app">
          <!-- Statusbar overlay -->
          <div class="statusbar"></div>

          <!-- Your main view, should have "view-main" class -->
          <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            <div data-name="home" class="page">
              <div id="registroContenedor" class="page-content">



                <div id="navbar" class="navbar">
                  <div id="navbarInner" class="navbar-inner">
                      <div id="registroBox" class="left">
                          <a href="{{url_for('suplementacion')}}" class="button external">
                            <i class="icon icon-back"></i>
                          </a>
                      </div>

                  </div>
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                <div style="margin-top: 0px;" class="list accordion-list">
                    <ul style="background-color: white">
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Creatina Universal</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/creatinaImagen.jpg"/>
                              <a href="comprar?sup=Creatina Universal"class="button external" style="background-color: #075e54;color: white">Comprar</a>
                              <p>
                                  La CREATINE UNIVERSAL 300G contiene ATP (adenosina trifosfato) es la fuente de energía para las contracciones musculares, tan importantes para los culturistas. La energía se produce cuando el ATP libera uno de sus grupos de fosfato y pasa a ser ADP (adenosina difosfato). Lo que la creatina hace es proporcionar un fosfato a la ADP, por lo que vuelve a convertirse en ATP, restaurando así su piscina de ATP. Gracias a ello, puede entrenar más intensamente, durante más tiempo y de forma más efectiva.
                              </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Creatina Micronized</div>
                                </div>
                            </a>
                            <div  style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/creatinaImagen2.jpg"/>
                              <a href="comprar?sup=Creatina Micronized"class="button external" style="background-color: #075e54;color: white">Comprar</a>
                              <p>
                                Esta tecnología fija un nuevo estándar para la suplementación del monohidrato de creatina produciendo realmente micro partículas de creatina, que son alrededor de 20 veces más pequeñas que la creatina estándar.
                              </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Cell Tech Performance Series</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/creatinaImagen3.jpg"/>
                              <a href="comprar?sup=Cell Tech Performance Series"class="button external" style="background-color: #075e54;color: white">Comprar</a>
                              <p>
                                 

                                  Cell Tech Performance Series 3lb es una fórmula de creatina científicamente diseñada para los "hardgainers" que tienen dificultades para aumentar el tamaño y la fuerza muscular. Esta fórmula de creatina patentada contiene ingredientes clave apoyados por más de 30 estudios clínicos de investigación llevados a cabo durante muchas décadas.

                              </p>
                            </div>
                        </li>      
                    </ul>
                </div>


                <div style="margin-top: 60px;" class="block">
                  <!-- block content -->
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                

                <div id="navbarBottom" class="toolbar toolbar-bottom-md">
                    <div class="toolbar-inner">
                        <a href="{{url_for('ejercicios')}}" class="link external">
                          <i class="f7-icons">eye</i>
                        </a>
                        <a href="{{url_for('alimentacion')}}" class="link external">
                          <i class="f7-icons">pie</i>
                        </a>
                        <a href="{{url_for('index')}}" class="link external">
                          <i class="f7-icons">home_fill</i>
                        </a>
                        <a href="{{url_for('suplementacion')}}" class="link external">
                          <i class="f7-icons">box</i>
                        </a>
                        <a href="{{url_for('rutina')}}" class="link external">
                          <i class="f7-icons">calendar</i>
                        </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>   


    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../static/js/my-app.js"></script>
  </body>
</html>