<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../static/css/modificacion.css">
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7-icons.css">
  </head>
  <body>
    <!-- App root element -->
        <div id="app">
          <!-- Statusbar overlay -->
          <div class="statusbar"></div>

          <!-- Your main view, should have "view-main" class -->
          <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            <div data-name="home" class="page">
              <div id="registroContenedor" class="page-content">



                <div id="navbar" class="navbar">
                  <div id="navbarInner" class="navbar-inner">
                      <div id="registroBox" class="left">
                          <a href="{{url_for('index')}}" class="button external">
                            <i class="icon icon-back"></i>
                          </a>
                      </div>                      
                  </div>
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                <div style="margin-top: 0px;" class="list accordion-list">
                    <ul style="background-color: white">
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">PECHO</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Pecho Plano</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Barbell Bench Press - Medium Grip.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/barbell-bench-press-medium-grip">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Pecho Inclinado</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Barbell Incline Bench Press Medium-Grip.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/barbell-incline-bench-press-medium-grip">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Pecho Declinado</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Decline Barbell Bench Press.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/decline-barbell-bench-press">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Vuelos Mancuernas</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Dumbbell Flyes.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/dumbbell-flyes">Video</a>
                            </div>
                        </li>
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">ESPALDA</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Remo Inclinado</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Bent Over Barbell Row.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/bent-over-barbell-row">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Remo Inclinado Mancuerna</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Bent Over Two-Dumbbell.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/bent-over-two-dumbbell-row">Video</a>
                            </div>
                        </li>
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">LATERAL</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Laterales Agarre Ancho</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Wide-Grip Lat Pulldown.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/wide-grip-lat-pulldown">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Laterales</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Pullups.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/pullups">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Laterales con peso extra</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Weighted Pull Ups.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/weighted-pull-ups">Video</a>
                            </div>
                        </li>
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">HOMBRO</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Levantamiento Lateral</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Side Lateral Raise.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/side-lateral-raise">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Presion Militar de pie</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Standing Military Press.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/standing-military-press">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Presion Hombro</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Barbell Shoulder Press.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/barbell-shoulder-press">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Presion Hombro Mancuerna</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Dumbbell Shoulder Press.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/dumbbell-shoulder-press">Video</a>
                            </div>
                        </li>
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">BICEPS</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Biceps Mancuerna</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Dumbbell Bicep Curl.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/dumbbell-bicep-curl">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Bicep Mancuerna Sentado</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Seated Dumbbell Curl.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/seated-dumbbell-curl">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Bicep de pie con cable</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Standing Biceps Cable Curl.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/standing-biceps-cable-curl">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Bicep con barra EZ</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/EZ-Bar Curl.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/ez-bar-curl">Video</a>
                            </div>
                        </li>
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">TRICEPS</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Rompecraneos con barra EZ</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/EZ-Bar Skullcrusher.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/ez-bar-skullcrusher">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Empujones de Triceps</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Triceps Pushdown.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/triceps-pushdown">Video</a>
                            </div>
                        </li>
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">CUADRICEPS</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Presion de Pierna</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Leg Press.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/leg-press">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Pierna Extensores</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Leg Extensions.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/leg-extensions">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Sentadilla</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Barbell Squat.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/barbell-squat">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Presion una pierna</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Single-Leg Press.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/single-leg-press">Video</a>
                            </div>
                        </li>
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">FEMORAL</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Levantamiento pierna acostado</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Lying Leg Curls.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/lying-leg-curls">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Peso muerto romano</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Romanian Deadlift.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/romanian-deadlift">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Peso muerto</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Barbell Deadlift.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/barbell-deadlift">Video</a>
                            </div>
                        </li>
                        <li style ="background-color: #DCDCDC" class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">PANTORRILLA</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">

                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Pantorilla de pie</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Standing Calf Raises.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/standing-calf-raises">Video</a>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Pantorilla sentado</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/ejercicios/Seated Calf Raise.jpg"/>
                              <a class="link external" href="https://www.bodybuilding.com/exercises/seated-calf-raise">Video</a>
                            </div>
                        </li>                       
                    </ul>
                </div>
                <div style="margin-top: 20%;" class="block">
                  <!-- block content -->
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                

                <<div id="navbarBottom" class="toolbar toolbar-bottom-md">
                    <div class="toolbar-inner">
                        <a href="{{url_for('ejercicios')}}" class="link external">
                          <i class="f7-icons">eye</i>
                        </a>
                        <a href="{{url_for('alimentacion')}}" class="link external">
                          <i class="f7-icons">pie</i>
                        </a>
                        <a href="{{url_for('index')}}" class="link external">
                          <i class="f7-icons">home_fill</i>
                        </a>
                        <a href="{{url_for('suplementacion')}}" class="link external">
                          <i class="f7-icons">box</i>
                        </a>
                        <a href="{{url_for('rutina')}}" class="link external">
                          <i class="f7-icons">calendar</i>
                        </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>   


    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../static/js/my-app.js"></script>
  </body>
</html>