<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../static/css/modificacion.css">
  </head>
  <body >
    <!-- App root element -->
        <div id="app">
          <!-- Statusbar overlay -->
          <div class="statusbar"></div>

          <!-- Your main view, should have "view-main" class -->
          <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            

              <div id="navbar" class="navbar">
                <div style="background-color: #062042" class="navbar-inner">
                    <div id="registroBox" class="left">
                        <a href="{{url_for('index')}}" class="button external link external">
                          <i class="icon icon-back"></i>
                        </a>
                    </div>
                    <div id="logoImagenBox" class="title">
                      <img id="logoImagen" src="../static/imagenes/GymHomeLogo2.png"/>
                    </div>
                </div>
              </div>

              <div id="navbarBottom" class="toolbar toolbar-bottom-md">
                    <div class="toolbar-inner">
                        <a href="{{url_for('ejercicios')}}" class="link external">
                          <img id="dumbbellIcono" src="../static/imagenes/dumbbellIcono.png"/>
                        </a>
                        <a href="#" class="link">
                          <img id="mealIcono" src="../static/imagenes/mealIcono.png"/>
                        </a>
                        <a href="{{url_for('index')}}" class="link external">
                          <img id="logoImagenBottom" src="../static/imagenes/GymHomeLogo2.png"/>
                        </a>
                        <a href="#" class="link">
                          <img id="suplementoIcono" src="../static/imagenes/suplementoIcono.png"/>
                        </a>
                        <a href="{{url_for('rutina')}}" class="link external">
                          <img id="agendaIcono" src="../static/imagenes/agendaIcono.png"/>
                        </a>
                    </div>
                </div> 

              <!-- Scrollable page content -->
              <div id="registroContenedor" class="page-content" style="color: white;">

                  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" charset="utf-8"></script>
                  <br>
                  <br>
                  <input style="background:white; color:black;" type="text" id="myMessage">
                  <button style="left:50%; width: 50%; margin:auto; border: 2px solid white; border-radius: 15px; background-color: white" type="button" id="send">send</button>

                  <ul id="message">

                  {% for p in lista %}
                  <li>{%print p%}</li>
                  {%endfor%}</ul>

                  <script
                    src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

                  <script>
                    const socket = io();
                    socket.on('message', function (msg) {
                      $('#message').append('<li>'+ msg)
                    })

                    $('#send').on('click', function (){
                    socket.send($('#myMessage').val());
                    $('#myMessage').val('');
                    });

                  </script>

                    
                    
              </div>
            
          </div>
        </div>

    


    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../static/js/my-app.js"></script>
  </body>
</html>