<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../static/css/modificacion.css">
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7-icons.css">
  </head>
  <body>
    <!-- App root element -->
        <div id="app">
          <!-- Statusbar overlay -->
          <div class="statusbar"></div>

          <!-- Your main view, should have "view-main" class -->
          <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            
              <div id="registroContenedor" class="page-content">



                <div id="navbar" class="navbar">
                  <div id="navbarInner" class="navbar-inner">
                      <div id="registroBox" class="left">
                          <a href="{{url_for('rutina')}}" class="button external">
                            <i class="icon icon-back"></i>
                          </a>
                      </div>

                  </div>
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                
                <div class="block-title">
                  <img id="rutinaTitulo" src="../static/imagenes/historial.png"/>
                </div>
                <div class="block">
                 <div class="list accordion-list" style="color: white;">
                      <ul>
                        <li class="accordion-item" style="background: #ccc;">
                              <a href="" class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Pecho</div>
                                  </div>
                              </a>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Pecho Plano</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em ">
                                  Semana
                                  {% for p in Pe1 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Barbell Bench Press-Medium Grip'>
                                    <input  type="hidden" name='op' value='Pecho Plano'>
                                    <input  type="hidden" name='ejercicio' value='Pecho'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Pecho plano inclinado</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Pe2 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Barbell Incline Bench Press Medium-Grip'>
                                    <input  type="hidden" name='op' value='Pecho Plano inclinado'>
                                    <input  type="hidden" name='ejercicio' value='Pecho'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Pecho plano declinado</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Pe3 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>                                    
                                    <input  type="hidden" name='nombree' value='Decline Barbell Bench Press'>
                                    <input  type="hidden" name='op' value='Pecho Plano declinado'>
                                    <input  type="hidden" name='ejercicio' value='Pecho'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item" style="background: #ccc;">
                              <a href="" class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black;">Hombro</div>
                                  </div>
                              </a>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Levantamientos laterales</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Ho1 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Side Lateral Raise'>
                                    <input  type="hidden" name='op' value='levantamientos laterales'>
                                    <input  type="hidden" name='ejercicio' value='Hombro'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Presion militar de pie</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Ho2 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Standing Military Press'>
                                    <input  type="hidden" name='op' value='Presion militar de pie'>
                                    <input  type="hidden" name='ejercicio' value='Hombro'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Presion hombro de pie</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Ho3 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>                                    
                                    <input  type="hidden" name='nombree' value='Barbell Shoulder Press'>
                                    <input  type="hidden" name='op' value='Presion hombro de pie'>
                                    <input  type="hidden" name='ejercicio' value='Hombro'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                           <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Presion de hombro mancuerna</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Ho4 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>                                    
                                    <input  type="hidden" name='nombree' value='Dumbbell Shoulder Press'>
                                    <input  type="hidden" name='op' value='Presion de hombro mancuerna'>
                                    <input  type="hidden" name='ejercicio' value='Hombro'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                            <li class="accordion-item" style="background: #ccc;">
                              <a href="" class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black;">Biceps</div>
                                  </div>
                              </a>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Levantamiento Biceps</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Bi1 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Dumbbell Bicep Curl'>
                                    <input  type="hidden" name='op' value='Levantamiento Biceps'>
                                    <input  type="hidden" name='ejercicio' value='Biceps'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Levantamiento Biceps sentado</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Bi2 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Seated Dumbbell Curl'>
                                    <input  type="hidden" name='op' value='Levantamiento Biceps sentado'>
                                    <input  type="hidden" name='ejercicio' value='Biceps'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Levantamiento Biceps de pie cable</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Bi3 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>                                    
                                    <input  type="hidden" name='nombree' value='Standing Biceps Cable Curl'>
                                    <input  type="hidden" name='op' value='Levantamiento Biceps de pie cable'>
                                    <input  type="hidden" name='ejercicio' value='Biceps'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                           <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Romprecraneo barra EZ</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Bi4 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>                                    
                                    <input  type="hidden" name='nombree' value='EZ-Bar Skullcrusher'>
                                    <input  type="hidden" name='op' value='Romprecraneo barra EZ'>                                    
                                    <input  type="hidden" name='ejercicio' value='Biceps'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                            <li class="accordion-item" style="background: #ccc;">
                              <a href="" class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black;">Cuadriceps</div>
                                  </div>
                              </a>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Presion pierna</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Cu1 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Leg Press'>
                                    <input  type="hidden" name='op' value='Presion pierna'>        
                                    <input  type="hidden" name='ejercicio' value='Cuadriceps'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Extensiones pierna</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Cu2 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Leg Extensions'>
                                    <input  type="hidden" name='op' value='Extensiones pierna'>  
                                    <input  type="hidden" name='ejercicio' value='Cuadriceps'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Sentadilla</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Cu3 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>                                    
                                    <input  type="hidden" name='nombree' value='Barbell Squat'>
                                    <input  type="hidden" name='op' value='Sentadilla'>  
                                    <input  type="hidden" name='ejercicio' value='Cuadriceps'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                           <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Presion una pierna</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Cu4 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>                                    
                                    <input  type="hidden" name='nombree' value='Single-Leg Press'>
                                    <input  type="hidden" name='op' value='Presion una pierna'>                                      
                                    <input  type="hidden" name='ejercicio' value='Cuadriceps'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item" style="background: #ccc;">
                              <a href="" class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black;">Femoral</div>
                                  </div>
                              </a>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Levantamiento pierna acostado</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Fe1 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Lying Leg Curls'>
                                    <input  type="hidden" name='op' value='Levantamiento pierna acostado'>  
                                    <input  type="hidden" name='ejercicio' value='Femoral'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Peso muerto romano</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Fe2 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Romanian Dead Lift'>
                                    <input  type="hidden" name='op' value='Peso muerto romano'>  
                                    <input  type="hidden" name='ejercicio' value='Femoral'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Peso muerto</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Fe3 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>                                    
                                    <input  type="hidden" name='nombree' value='Deadlift'>
                                    <input  type="hidden" name='op' value='Peso muerto'>  
                                    <input  type="hidden" name='ejercicio' value='Femoral'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item" style="background: #ccc;">
                              <a href="" class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black;">Pantorrilla</div>
                                  </div>
                              </a>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Pantorilla de pie</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Pa1 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Standing Calf Raises'>
                                    <input  type="hidden" name='op' value='Pantorilla de pie'>                                      
                                    <input  type="hidden" name='ejercicio' value='Pantorrilla'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>
                          <li class="accordion-item">
                              <a href="" class="item-link item-content">
                                  <div class="item-inner">
                                      <div class="item-title" style=" color: black">Pantorilla acostado</div>
                                  </div>
                              </a>
                              
                                <div class="accordion-item-content" style="text-align: center;color: #075e54;font-size: 1.5em">
                                  Semana
                                  {% for p in Pa2 %}
                                  <form action="" method="post">
                                    {{ form.hidden_tag() }}
                                    <br>
                                    <input  type="hidden" name='nombree' value='Seated Calf Raise'>
                                    <input  type="hidden" name='op' value='Pantorilla acostado'>   
                                    <input  type="hidden" name='ejercicio' value='Pantorrilla'>
                                    <input  type="hidden" name='dato' value={{p.semana}}>
                                    <input  type="submit" value={{p.semana}} style="color: white;width: 50%; margin:auto; border: 1px solid white; border-radius: 8px; background-color: #075e54; padding: 0.5em">
                                    <br>
                                  </form>
                                  {%endfor%}
                                  
                                </div>
                          </li>

                          
                      </ul>
                  </div>
                </div>
                <div style="margin-top: 25%;" class="block">
                  <!-- block content -->
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                

                 <div id="navbarBottom" class="toolbar toolbar-bottom-md">
                    <div class="toolbar-inner">
                        <a href="{{url_for('ejercicios')}}" class="link external">
                          <i class="f7-icons">eye</i>
                        </a>
                        <a href="{{url_for('alimentacion')}}" class="link external">
                          <i class="f7-icons">pie</i>
                        </a>
                        <a href="{{url_for('index')}}" class="link external">
                          <i class="f7-icons">home_fill</i>
                        </a>
                        <a href="{{url_for('suplementacion')}}" class="link external">
                          <i class="f7-icons">box</i>
                        </a>
                        <a href="{{url_for('rutina')}}" class="link external">
                          <i class="f7-icons">calendar</i>
                        </a>
                    </div>
                </div>
            
          </div>
        </div>   


    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../static/js/my-app.js"></script>
  </body>
</html>