<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>My App</title>
    <!-- Path to Framework7 Library CSS -->
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../static/css/modificacion.css">
    <link rel="stylesheet" href="../static/lib/framework7/css/framework7-icons.css">
  </head>
  <body>
    <!-- App root element -->
        <div id="app">
          <!-- Statusbar overlay -->
          <div class="statusbar"></div>

          <!-- Your main view, should have "view-main" class -->
          <div class="view view-main">
            <!-- Initial Page, "data-name" contains page name -->
            <div data-name="home" class="page">
              <div id="registroContenedor" class="page-content">



                <div id="navbar" class="navbar">
                  <div id="navbarInner" class="navbar-inner">
                      <div id="registroBox" class="left">
                          <a href="{{url_for('suplementacion')}}" class="button external">
                            <i class="icon icon-back"></i>
                          </a>
                      </div>

                  </div>
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                <div style="margin-top: 0px;" class="list accordion-list">
                    <ul style="background-color: white">
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">C4</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/quemadoresImagen.jpg"/>
                              <a class="button" style="background-color: #075e54;color: white">Comprar</a>
                              <p>
                                Hydroxycut Hardcore Elite ofrece divulgación completa de su fórmula. Eso significa que es un producto en el que se puede confiar, porque la etiqueta revela todos los ingredientes en la fórmula, así como sus cantidades de dosis, para que el usuario sepa exactamente lo que administrando a su organismo. En pocas palabras, Hydroxycut Hardcore es totalmente transparente. <br><br>

                                Contiene cafeína anhidra (270 mg), Coleus forskohlii (250 mg), C canephora robusta (200 mg), L-teanina (100 mg), Theobroma cacao (100 mg) y Pausinystalia yohimbe (56.3mg).
                              </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">B4</div>
                                </div>
                            </a>
                            <div  style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/quemadoresImagen2.jpg"/>
                              <a class="button" style="background-color: #075e54;color: white">Comprar</a>
                              <p>
                                BPI Sports ha vuelto a redefinir una nueva clase de suplementos para quemar las grasas y lograr una muy buena definición muscular, gracias a la nueva formulación de B4. Su nueva formulación con DendroMAX se ha centrado en quemar las grasas en forma efectiva, y evitar que las grasas vuelvan a almacenarse en las zonas en donde estas fueron removidas o movilizadas, junto con entregar mucha energía y concentración para potenciar cada uno de los entrenamientos.
                              </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">Animal Cuts</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/quemadoresImagen3.jpg"/>
                              <a class="button" style="background-color: #075e54;color: white">Comprar</a>
                              <p>
                                 

                                  Animal Cuts es un suplemento a base de 9 pastillas por sobre de origen natural, estos sirven para la eliminación de grasa por medio de efectos termogenicos y lipotropicos, así como también ayuda en la regulación de la glándula tiroides que es una de las encargadas en regular el peso, tus niveles de insulina también así como tu sistema nervioso debido a los neuroreguladores contenidos, ademas de que no sufriras de insomnio o hiperactividad gracias a sus reguladores neurotransmisores.

                              </p>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">L-Arginine</div>
                                </div>
                            </a>
                            <div style="width: 80%; margin-left: 10%" class="accordion-item-content">
                              <img style="width: 100%; height: 100%" src="../static/imagenes/quemadoresImagen4.jpg"/>
                              <a class="button" style="background-color: #075e54;color: white">Comprar</a>
                              <p>
                                 La Arginina es un aminoácido precursor del óxido nitrico, de efecto vasodilatador durante el entrenamiento. Éste favorece el aumento del flujo sanguíneo a las zonas musculares involucradas en el entrenamiento permitiendo alcanzar la máxima congestión muscular. 

                              </p>
                            </div>
                        </li>
                        
                    </ul>
                </div>


                <div style="margin-top: 60px;" class="block">
                  <!-- block content -->
                </div>

                <!-- EL CONTENIDO DE LA PAGINA VA AQUI -->
                

                <div id="navbarBottom" class="toolbar toolbar-bottom-md">
                    <div class="toolbar-inner">
                        <a href="{{url_for('ejercicios')}}" class="link external">
                          <i class="f7-icons">eye</i>
                        </a>
                        <a href="{{url_for('alimentacion')}}" class="link external">
                          <i class="f7-icons">pie</i>
                        </a>
                        <a href="{{url_for('index')}}" class="link external">
                          <i class="f7-icons">home_fill</i>
                        </a>
                        <a href="{{url_for('suplementacion')}}" class="link external">
                          <i class="f7-icons">box</i>
                        </a>
                        <a href="{{url_for('rutina')}}" class="link external">
                          <i class="f7-icons">calendar</i>
                        </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>   


    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="../static/lib/framework7/js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="../static/js/my-app.js"></script>
  </body>
</html>