@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

.negro{
	color: black !important;
}
.bl{
	color: white !important;
	background: white;
	top: 0.3em;
    left: 1.5em;
}
#Barra{

	background: #FF0000 ;
	padding: 2em;
}

#iconPrincipal{
	color: #000000;
	font-size: 30px;

}
#colorPanel{
	background: #F3F3F3;
	border-radius: 0em 1em 1em 0em;
	border-right-color: #8A8888; 
    border-right-style: solid;
}

#MenuO{
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color: #000000;
}

#titulo{
	font-family: 'Fjalla One', sans-serif;
	font-size: 2em;
	color: #000000;
	position: absolute;
}
#colorBarra{

	background: #21dc7b ;
}

.colorfondoPag{
	background: #F3F3F3;
}
.op2{
	background: #F3F3F3;
	color: black;
}

.botonCP{

    margin: 3em;
	background: #FF0000 !important;
	color: #000000 ;
}

.botonM{

	background: #FF0000 !important;
	color: #000000 ;
	width: 14em;
	left: 15%;
}
.iconopagem{
	position: relative;
	left: 25%;
}
.op4{
	position: relative;
	left: 2%;
}

.relativo{
	position: relative !important;
}
